Home {
  content-align: center middle;
  border: solid white;
  padding: 1;
}

KnowledgeBasePath {
  content-align: center middle;
  border: solid white;
  padding: 1;
}

#init-project {
  content-align: center middle;
}

#delete-confirm-buttons {
  height: auto;
  padding: 1 0;
}

#delete-confirm-buttons Button {
  margin: 0 1;
}